<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<style th:inline="text">
body{
background-color: mistyrose;
}
h1{
text-align: center;
font-size: 30pt;
font-family: Castellar
}
h2{
text-align: center;
font-size: 20pt;
font-family: Castellar;
}
.Inhalt{
    margin-left: 500px;
    margin-top: 100px;
}
.button{
    font-size: 40px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    color:black;
}
</style>
<body>
<h1> LuRoMiLa</h1>
<h2> Registrierung</h2>
<div class="Inhalt">
    <p>Username:</p><textarea></textarea>
    <br>
    <p>Vorname:</p><textarea></textarea>
    <br>
    <p>Nachname:</p><textarea></textarea>
    <br>
    <p>EMail:</p><textarea></textarea>
    <br>
    <p>Geburtsdatum:</p><textarea></textarea>
    <br>
    <p>Passwort:</p><textarea></textarea>
    <br>
    <br>
    <button class="button"> Registrieren</button> <br> <br>

</div>
</body>
</html>